/Memcached/bin/Debug/Enyim.Caching.dll
/Memcached/bin/Debug/Enyim.Caching.pdb
/Memcached/bin/Debug/Enyim.Caching.xml
/Memcached/bin/Debug/MemcachedTest.exe
/Memcached/bin/Debug/MemcachedTest.exe.config
/Memcached/bin/Debug/MemcachedTest.pdb
/Memcached/bin/Debug/ServiceStack.Caching.Memcached.dll
/Memcached/bin/Debug/ServiceStack.Caching.Memcached.xml
/Memcached/bin/Debug/ServiceStack.Client.dll
/Memcached/bin/Debug/ServiceStack.Client.xml
/Memcached/bin/Debug/ServiceStack.dll
/Memcached/bin/Debug/ServiceStack.xml
/Memcached/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Memcached/obj/Debug/Memcached.csproj.CopyComplete
/Memcached/obj/Debug/Memcached.csproj.CoreCompileInputs.cache
/Memcached/obj/Debug/Memcached.csproj.FileListAbsolute.txt
/Memcached/obj/Debug/Memcached.csprojAssemblyReference.cache
/Memcached/obj/Debug/MemcachedTest.csproj.CopyComplete
/Memcached/obj/Debug/MemcachedTest.csproj.CoreCompileInputs.cache
/Memcached/obj/Debug/MemcachedTest.csproj.FileListAbsolute.txt
/Memcached/obj/Debug/MemcachedTest.csprojAssemblyReference.cache
/Memcached/obj/Debug/MemcachedTest.exe
/Memcached/obj/Debug/MemcachedTest.pdb
/Memcached/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Memcached/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Memcached/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EventBus/bin/Debug/netcoreapp2.2/EventBus.deps.json
/EventBus/bin/Debug/netcoreapp2.2/EventBus.dll
/EventBus/bin/Debug/netcoreapp2.2/EventBus.pdb
/EventBus/bin/Debug/netcoreapp2.2/EventBus.runtimeconfig.dev.json
/EventBus/bin/Debug/netcoreapp2.2/EventBus.runtimeconfig.json
/EventBus/bin/Debug/netcoreapp2.2/EventBusTest.deps.json
/EventBus/bin/Debug/netcoreapp2.2/EventBusTest.dll
/EventBus/bin/Debug/netcoreapp2.2/EventBusTest.pdb
/EventBus/bin/Debug/netcoreapp2.2/EventBusTest.runtimeconfig.dev.json
/EventBus/bin/Debug/netcoreapp2.2/EventBusTest.runtimeconfig.json
/EventBus/obj/Debug/netcoreapp2.2/EventBus.AssemblyInfo.cs
/EventBus/obj/Debug/netcoreapp2.2/EventBus.AssemblyInfoInputs.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBus.assets.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBus.csproj.CoreCompileInputs.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBus.csproj.FileListAbsolute.txt
/EventBus/obj/Debug/netcoreapp2.2/EventBus.csprojAssemblyReference.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBus.dll
/EventBus/obj/Debug/netcoreapp2.2/EventBus.pdb
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.AssemblyInfo.cs
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.AssemblyInfoInputs.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.assets.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.csproj.CoreCompileInputs.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.csproj.FileListAbsolute.txt
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.csprojAssemblyReference.cache
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.dll
/EventBus/obj/Debug/netcoreapp2.2/EventBusTest.pdb
/EventBus/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EventBus/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EventBus/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EventBus/obj/EventBus.csproj.nuget.cache
/EventBus/obj/EventBus.csproj.nuget.g.props
/EventBus/obj/EventBus.csproj.nuget.g.targets
/EventBus/obj/EventBusTest.csproj.nuget.cache
/EventBus/obj/EventBusTest.csproj.nuget.g.props
/EventBus/obj/EventBusTest.csproj.nuget.g.targets
/Middleware/bin/Debug/netcoreapp2.1/Middleware.Views.dll
/Middleware/bin/Debug/netcoreapp2.1/Middleware.Views.pdb
/Middleware/bin/Debug/netcoreapp2.1/Middleware.deps.json
/Middleware/bin/Debug/netcoreapp2.1/Middleware.dll
/Middleware/bin/Debug/netcoreapp2.1/Middleware.pdb
/Middleware/bin/Debug/netcoreapp2.1/Middleware.runtimeconfig.dev.json
/Middleware/bin/Debug/netcoreapp2.1/Middleware.runtimeconfig.json
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.Views.dll
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.Views.pdb
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.deps.json
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.dll
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.pdb
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.runtimeconfig.dev.json
/Middleware/bin/Debug/netcoreapp2.1/MiddlewareTest.runtimeconfig.json
/Middleware/obj/Debug/netcoreapp2.1/Middleware.AssemblyInfo.cs
/Middleware/obj/Debug/netcoreapp2.1/Middleware.AssemblyInfoInputs.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.RazorAssemblyInfo.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.RazorAssemblyInfo.cs
/Middleware/obj/Debug/netcoreapp2.1/Middleware.RazorCoreGenerate.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.RazorTargetAssemblyInfo.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.RazorTargetAssemblyInfo.cs
/Middleware/obj/Debug/netcoreapp2.1/Middleware.TagHelpers.input.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.TagHelpers.output.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.Views.dll
/Middleware/obj/Debug/netcoreapp2.1/Middleware.Views.pdb
/Middleware/obj/Debug/netcoreapp2.1/Middleware.assets.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.csproj.CopyComplete
/Middleware/obj/Debug/netcoreapp2.1/Middleware.csproj.CoreCompileInputs.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.csproj.FileListAbsolute.txt
/Middleware/obj/Debug/netcoreapp2.1/Middleware.csprojAssemblyReference.cache
/Middleware/obj/Debug/netcoreapp2.1/Middleware.dll
/Middleware/obj/Debug/netcoreapp2.1/Middleware.pdb
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.AssemblyInfo.cs
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.AssemblyInfoInputs.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.RazorAssemblyInfo.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.RazorAssemblyInfo.cs
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.RazorCoreGenerate.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.RazorTargetAssemblyInfo.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.RazorTargetAssemblyInfo.cs
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.TagHelpers.input.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.TagHelpers.output.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.Views.dll
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.Views.pdb
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.assets.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.csproj.CopyComplete
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.csproj.CoreCompileInputs.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.csproj.FileListAbsolute.txt
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.csprojAssemblyReference.cache
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.dll
/Middleware/obj/Debug/netcoreapp2.1/MiddlewareTest.pdb
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
/Middleware/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Middleware/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Middleware/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Middleware/obj/Middleware.csproj.nuget.cache
/Middleware/obj/Middleware.csproj.nuget.g.props
/Middleware/obj/Middleware.csproj.nuget.g.targets
/Middleware/obj/MiddlewareTest.csproj.nuget.cache
/Middleware/obj/MiddlewareTest.csproj.nuget.g.props
/Middleware/obj/MiddlewareTest.csproj.nuget.g.targets
/Middleware/obj/project.assets.json
/ModuleCommon/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Authentication.dll
/ModuleCommon/bin/Debug/netstandard2.0/Microsoft.AspNetCore.Authentication.xml
/ModuleCommon/bin/Debug/netstandard2.0/ModuleCommon.deps.json
/ModuleCommon/bin/Debug/netstandard2.0/ModuleCommon.dll
/ModuleCommon/bin/Debug/netstandard2.0/ModuleCommon.pdb
/ModuleCommon/bin/Debug/netstandard2.0/ModuleTestCommon.deps.json
/ModuleCommon/bin/Debug/netstandard2.0/ModuleTestCommon.dll
/ModuleCommon/bin/Debug/netstandard2.0/ModuleTestCommon.pdb
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.AssemblyInfo.cs
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.AssemblyInfoInputs.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.assets.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.csproj.CopyComplete
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.csproj.CoreCompileInputs.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.csproj.FileListAbsolute.txt
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.dll
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.pdb
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.AssemblyInfo.cs
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.AssemblyInfoInputs.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.assets.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.csproj.CopyComplete
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.csproj.CoreCompileInputs.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.csproj.FileListAbsolute.txt
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.csprojAssemblyReference.cache
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.dll
/ModuleCommon/obj/Debug/netstandard2.0/ModuleTestCommon.pdb
/ModuleCommon/obj/ModuleCommon.csproj.nuget.cache
/ModuleCommon/obj/ModuleCommon.csproj.nuget.g.props
/ModuleCommon/obj/ModuleCommon.csproj.nuget.g.targets
/ModuleCommon/obj/ModuleTestCommon.csproj.nuget.cache
/ModuleCommon/obj/ModuleTestCommon.csproj.nuget.g.props
/ModuleCommon/obj/ModuleTestCommon.csproj.nuget.g.targets
/ModuleCommon/obj/project.assets.json
/Redis/bin/Debug/netcoreapp2.1/Microsoft.AspNetCore.Authentication.dll
/Redis/bin/Debug/netcoreapp2.1/Microsoft.AspNetCore.Authentication.xml
/Redis/bin/Debug/netcoreapp2.1/ModuleCommon.dll
/Redis/bin/Debug/netcoreapp2.1/ModuleCommon.pdb
/Redis/bin/Debug/netcoreapp2.1/ModuleTestCommon.dll
/Redis/bin/Debug/netcoreapp2.1/ModuleTestCommon.pdb
/Redis/bin/Debug/netcoreapp2.1/Redis.deps.json
/Redis/bin/Debug/netcoreapp2.1/Redis.dll
/Redis/bin/Debug/netcoreapp2.1/Redis.pdb
/Redis/bin/Debug/netcoreapp2.1/Redis.runtimeconfig.dev.json
/Redis/bin/Debug/netcoreapp2.1/Redis.runtimeconfig.json
/Redis/bin/Debug/netcoreapp2.1/RedisTest.deps.json
/Redis/bin/Debug/netcoreapp2.1/RedisTest.dll
/Redis/bin/Debug/netcoreapp2.1/RedisTest.pdb
/Redis/bin/Debug/netcoreapp2.1/RedisTest.runtimeconfig.dev.json
/Redis/bin/Debug/netcoreapp2.1/RedisTest.runtimeconfig.json
/Redis/obj/Debug/netcoreapp2.1/Redis.AssemblyInfo.cs
/Redis/obj/Debug/netcoreapp2.1/Redis.AssemblyInfoInputs.cache
/Redis/obj/Debug/netcoreapp2.1/Redis.assets.cache
/Redis/obj/Debug/netcoreapp2.1/Redis.csproj.CopyComplete
/Redis/obj/Debug/netcoreapp2.1/Redis.csproj.CoreCompileInputs.cache
/Redis/obj/Debug/netcoreapp2.1/Redis.csproj.FileListAbsolute.txt
/Redis/obj/Debug/netcoreapp2.1/Redis.csprojAssemblyReference.cache
/Redis/obj/Debug/netcoreapp2.1/Redis.dll
/Redis/obj/Debug/netcoreapp2.1/Redis.pdb
/Redis/obj/Debug/netcoreapp2.1/RedisTest.AssemblyInfo.cs
/Redis/obj/Debug/netcoreapp2.1/RedisTest.AssemblyInfoInputs.cache
/Redis/obj/Debug/netcoreapp2.1/RedisTest.assets.cache
/Redis/obj/Debug/netcoreapp2.1/RedisTest.csproj.CopyComplete
/Redis/obj/Debug/netcoreapp2.1/RedisTest.csproj.CoreCompileInputs.cache
/Redis/obj/Debug/netcoreapp2.1/RedisTest.csproj.FileListAbsolute.txt
/Redis/obj/Debug/netcoreapp2.1/RedisTest.csprojAssemblyReference.cache
/Redis/obj/Debug/netcoreapp2.1/RedisTest.dll
/Redis/obj/Debug/netcoreapp2.1/RedisTest.pdb
/Redis/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Redis/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Redis/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/MemcachedTest/bin/Debug/MemcachedTest.pdb
/MemcachedTest/obj/Debug/MemcachedTest.pdb
/MiddlewareTest/bin/Debug/netcoreapp2.1/MiddlewareTest.pdb
/MiddlewareTest/bin/Debug/netcoreapp2.1/MiddlewareTest.Views.pdb
/MiddlewareTest/obj/Debug/netcoreapp2.1/MiddlewareTest.pdb
/MiddlewareTest/obj/Debug/netcoreapp2.1/MiddlewareTest.Views.pdb
/ModuleTestCommon/bin/Debug/netstandard2.0/ModuleTestCommon.pdb
/ModuleTestCommon/obj/Debug/netstandard2.0/ModuleTestCommon.pdb
/RedisTest/bin/Debug/netcoreapp2.1/ModuleTestCommon.pdb
/RedisTest/bin/Debug/netcoreapp2.1/RedisTest.pdb
/RedisTest/obj/Debug/netcoreapp2.1/RedisTest.pdb
/ModuleCommon/obj/Debug/netstandard2.0/ModuleCommon.csprojAssemblyReference.cache
/packages/EnyimMemcached.2.13/.signature.p7s
/packages/EnyimMemcached.2.13/EnyimMemcached.2.13.nupkg
/packages/EnyimMemcached.2.13/lib/net35/Enyim.Caching.dll
/packages/EnyimMemcached.2.13/lib/net35/Enyim.Caching.pdb
/packages/EnyimMemcached.2.13/lib/net35/Enyim.Caching.xml
/packages/ServiceStack.5.4.0/.signature.p7s
/packages/ServiceStack.5.4.0/ServiceStack.5.4.0.nupkg
/packages/ServiceStack.5.4.0/lib/net45/ServiceStack.dll
/packages/ServiceStack.5.4.0/lib/net45/ServiceStack.xml
/packages/ServiceStack.5.4.0/lib/netstandard2.0/ServiceStack.dll
/packages/ServiceStack.5.4.0/lib/netstandard2.0/ServiceStack.xml
/packages/ServiceStack.Caching.Memcached.4.5.0/.signature.p7s
/packages/ServiceStack.Caching.Memcached.4.5.0/ServiceStack.Caching.Memcached.4.5.0.nupkg
/packages/ServiceStack.Caching.Memcached.4.5.0/lib/net45/ServiceStack.Caching.Memcached.dll
/packages/ServiceStack.Caching.Memcached.4.5.0/lib/net45/ServiceStack.Caching.Memcached.xml
/packages/ServiceStack.Client.5.4.0/.signature.p7s
/packages/ServiceStack.Client.5.4.0/ServiceStack.Client.5.4.0.nupkg
/packages/ServiceStack.Client.5.4.0/lib/net45/ServiceStack.Client.dll
/packages/ServiceStack.Client.5.4.0/lib/net45/ServiceStack.Client.xml
/packages/ServiceStack.Client.5.4.0/lib/netstandard2.0/ServiceStack.Client.deps.json
/packages/ServiceStack.Client.5.4.0/lib/netstandard2.0/ServiceStack.Client.dll
/packages/ServiceStack.Client.5.4.0/lib/netstandard2.0/ServiceStack.Client.xml
/packages/ServiceStack.Common.5.5.0/.signature.p7s
/packages/ServiceStack.Common.5.5.0/ServiceStack.Common.5.5.0.nupkg
/packages/ServiceStack.Common.5.5.0/lib/net45/ServiceStack.Common.dll
/packages/ServiceStack.Common.5.5.0/lib/net45/ServiceStack.Common.xml
/packages/ServiceStack.Common.5.5.0/lib/netstandard2.0/ServiceStack.Common.dll
/packages/ServiceStack.Common.5.5.0/lib/netstandard2.0/ServiceStack.Common.xml
/packages/ServiceStack.Interfaces.5.5.0/.signature.p7s
/packages/ServiceStack.Interfaces.5.5.0/ServiceStack.Interfaces.5.5.0.nupkg
/packages/ServiceStack.Interfaces.5.5.0/lib/net45/ServiceStack.Interfaces.dll
/packages/ServiceStack.Interfaces.5.5.0/lib/net45/ServiceStack.Interfaces.xml
/packages/ServiceStack.Interfaces.5.5.0/lib/netstandard2.0/ServiceStack.Interfaces.dll
/packages/ServiceStack.Interfaces.5.5.0/lib/netstandard2.0/ServiceStack.Interfaces.xml
/packages/ServiceStack.Text.5.5.0/.signature.p7s
/packages/ServiceStack.Text.5.5.0/ServiceStack.Text.5.5.0.nupkg
/packages/ServiceStack.Text.5.5.0/lib/net45/ServiceStack.Text.dll
/packages/ServiceStack.Text.5.5.0/lib/net45/ServiceStack.Text.xml
/packages/ServiceStack.Text.5.5.0/lib/netcoreapp2.1/ServiceStack.Text.dll
/packages/ServiceStack.Text.5.5.0/lib/netcoreapp2.1/ServiceStack.Text.xml
/packages/ServiceStack.Text.5.5.0/lib/netstandard2.0/ServiceStack.Text.dll
/packages/ServiceStack.Text.5.5.0/lib/netstandard2.0/ServiceStack.Text.xml
/packages/System.Buffers.4.4.0/.nupkg.metadata
/packages/System.Buffers.4.4.0/.signature.p7s
/packages/System.Buffers.4.4.0/LICENSE.TXT
/packages/System.Buffers.4.4.0/System.Buffers.4.4.0.nupkg
/packages/System.Buffers.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Buffers.4.4.0/lib/netcoreapp2.0/_._
/packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.4.0/lib/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.4.0/lib/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.4.0/ref/netcoreapp2.0/_._
/packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.dll
/packages/System.Buffers.4.4.0/ref/netstandard1.1/System.Buffers.xml
/packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.dll
/packages/System.Buffers.4.4.0/ref/netstandard2.0/System.Buffers.xml
/packages/System.Buffers.4.4.0/useSharedDesignerContext.txt
/packages/System.Buffers.4.4.0/version.txt
/packages/System.Memory.4.5.2/.nupkg.metadata
/packages/System.Memory.4.5.2/.signature.p7s
/packages/System.Memory.4.5.2/LICENSE.TXT
/packages/System.Memory.4.5.2/System.Memory.4.5.2.nupkg
/packages/System.Memory.4.5.2/THIRD-PARTY-NOTICES.TXT
/packages/System.Memory.4.5.2/lib/netcoreapp2.1/_._
/packages/System.Memory.4.5.2/lib/netstandard1.1/System.Memory.dll
/packages/System.Memory.4.5.2/lib/netstandard1.1/System.Memory.xml
/packages/System.Memory.4.5.2/lib/netstandard2.0/System.Memory.dll
/packages/System.Memory.4.5.2/lib/netstandard2.0/System.Memory.xml
/packages/System.Memory.4.5.2/ref/netcoreapp2.1/_._
/packages/System.Memory.4.5.2/useSharedDesignerContext.txt
/packages/System.Memory.4.5.2/version.txt
/packages/System.Numerics.Vectors.4.4.0/.nupkg.metadata
/packages/System.Numerics.Vectors.4.4.0/.signature.p7s
/packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
/packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
/packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Numerics.Vectors.4.4.0/lib/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/MonoTouch10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/netcoreapp2.0/_._
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/lib/xamarinios10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.4.0/lib/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.4.0/lib/xamarinwatchos10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/MonoAndroid10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/MonoTouch10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/netcoreapp2.0/_._
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
/packages/System.Numerics.Vectors.4.4.0/ref/xamarinios10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/xamarinmac20/_._
/packages/System.Numerics.Vectors.4.4.0/ref/xamarintvos10/_._
/packages/System.Numerics.Vectors.4.4.0/ref/xamarinwatchos10/_._
/packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
/packages/System.Numerics.Vectors.4.4.0/version.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.nupkg.metadata
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
/Redis/obj/Redis.csproj.nuget.cache
/Redis/obj/Redis.csproj.nuget.g.props
/Redis/obj/Redis.csproj.nuget.g.targets
/Redis/obj/RedisTest.csproj.nuget.cache
/Redis/obj/RedisTest.csproj.nuget.g.props
/Redis/obj/RedisTest.csproj.nuget.g.targets
/Redis/obj/project.assets.json
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.cache
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/ConsoleApp1.AssemblyInfo.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/ConsoleApp1.AssemblyInfoInputs.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/ConsoleApp1.assets.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/ConsoleApp1.csproj.CoreCompileInputs.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/ConsoleApp1.csprojAssemblyReference.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConsoleApp1/ConsoleApp1/obj/project.assets.json
/.vs/ModuleDemo/v15/Server/sqlite3/db.lock
/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.cache
/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.g.props
/ConsoleApplication/obj/ConsoleApplication.csproj.nuget.g.targets
/ConsoleApplication/obj/Debug/netcoreapp2.1/ConsoleApplication.AssemblyInfo.cs
/ConsoleApplication/obj/Debug/netcoreapp2.1/ConsoleApplication.AssemblyInfoInputs.cache
/ConsoleApplication/obj/Debug/netcoreapp2.1/ConsoleApplication.assets.cache
/ConsoleApplication/obj/Debug/netcoreapp2.1/ConsoleApplication.csproj.CoreCompileInputs.cache
/ConsoleApplication/obj/Debug/netcoreapp2.1/ConsoleApplication.csprojAssemblyReference.cache
/ConsoleApplication/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ConsoleApplication/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ConsoleApplication/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ConsoleApplication/obj/project.assets.json
/Memcached/bin/Debug
/ConsoleApplication/bin/Debug/netcoreapp2.1
/ConsoleApplication/obj/Debug/netcoreapp2.1
/CacheAdapter/bin/Debug/netcoreapp2.1
/CacheAdapter/obj
/UnitTestProject/bin/Debug/netcoreapp2.1
/UnitTestProject/obj
/XUnitTestProject/bin/Debug/netcoreapp2.1
/XUnitTestProject/obj
/Memcached/obj
/Memcached/bin
/UnitTestProject/bin
/WebApplication1/obj
/WebApplication1/bin
/XUnitTestProject/bin
/EventBus/obj
/Middleware/bin/Debug/netcoreapp2.2
/ModuleCommon/obj
/ModuleCommon/bin
/Middleware/obj
/Middleware/bin
